*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    background-color: green;
}
nav ul li a{
    text-decoration: none;
}
nav ul{
    display: flex;
    gap: 50px;
}
nav ul li{
    list-style: none;
}
